.navbar{
    color: white;
}
#dashboard{
  margin-left: 20px;
}

#main-row{
    padding: 20px;
    background-color: #f8f9fa;
}

h1{
    margin-left: 37%;
}
#search-section{
    padding: 20px 0px;
}
#col2{
    background-color: white;
}
#row1{
    padding: 10px 20px;
    height: 300px;
    border: 1px solid #e2e1e1;
    margin: 17px 5px;
    background-color: white;
    line-height: 3;
}
#row2{
    height: 500px;
    margin: 10px;
    color:white;
    background-color: white;
}

#city-and-date{
    color: #297cf9;
    line-height: 2;
}

#row{
    margin-left: 1px !important;
}
.col-md-2{
    height: 200px;
    background-color: #297cf9;
    margin: 15px;
    line-height: 2;
}
#row2-header{
    margin-left: 10px;
}
.date{
    font-size:19px;
    font-weight: bolder;

}
.custom-control{
    margin-right: 30px;
}

#spinner{
    margin: 10% 45%;
}

.error{
    color: red;
}